



.texto_conheca_fotos{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-top: 10vw;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 7vw;
}

.texto_conheca {
    width: 45%;   
    margin-left: 50px;
    margin-right: 50px;
    
}

.conheca_fotos {
    width: 50%;
    
}

.img_homemcelular {
    width: 95%
}


.conheca_h2 {
    font-size: 3rem;
    font-weight: 500;
    color: rgb(130, 10, 209);
}

.conheca {
    text-decoration: none;
}

.roxinho {
    font-size: 2.5rem;
    font-weight: 100;
}

.Saiba_mais {
    color: rgb(130, 10, 209);
    font-weight: 600;
    margin-top: 40px;
    font-size: 20px;
}

@media screen and (max-width: 576px) {

.texto_conheca_fotos{
    
    flex-direction: column-reverse;
    width: 100%;
    padding-top: 15vw;
    padding-bottom: 7vw;
    }

.conheca_h2 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    margin-top: 1.5rem;
    }

.roxinho {
    font-size: 1.2rem;
    line-height: 1.5rem;
    width: 90%;
    
}

.conheca_fotos {
    width: 90%;
    
}

.img_homemcelular {
    width: 95%;
}

.texto_conheca {
    width: 100%;
    margin-left: 105px;      
}
}