.foto_rapaz {
    background-image: url(../imagens/1661373075-homem-sorrindo.webp);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vw;
}

.central_info {
    width: 39%;
    
}

.central_de_informacoes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 5vw;
    height: 100%;
    align-items: center;
    
}

.txt_central {
    font-size: 3rem;
    color: white;
    padding-bottom: 2.5vw;
}

.saiba_mais_sobre {
    color: white;
    text-decoration: none;
}

.vazia {
    width: 30%;
}


@media screen and (max-width: 576px) {

    .txt_central{
        font-size: 1.5rem;
    }
    
    .saiba_mais_sobre{
        font-size: 0.8rem;
    }

}
