
.flex {
    display: flex;
}

#cabecalho {
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
}

.cabecalho_central{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    height: 60px;
    padding: 0 20px 0 20px;
    width: 100%;
}

.nu_logo {
    width: 100px;
    height: 80px;
}

.cab2 {
    display: flex;
    align-items: center
}

.topicos {
    display: flex;
}

.topicos_item {
    display: flex;
    flex-direction: row;
    gap: 4vw;
    width: max-content;
}

.fonte_top{
    text-decoration: none;
    color: black;
    font-weight: 200;
    font-size: 20px;
    gap: 8vw;    
}

.login_letra {
    text-decoration: none;
    color: rgb(130, 10, 209);
    font-size: 20px;
    font-weight: 500;
}


#burguer {
    display: none;
    
}


@media screen and (max-width: 576px) {
    
    .cab2 {
        display: flex;
        
        justify-content: center;
        
        flex-direction: column;
    }

    #cabecalho {
        align-items: center;
        position:relative;
        flex-direction: column;
        
        
    }
    .cabecalho_central {
        flex-direction: column;
        height: 40vh;
        width: 100%;      
    }

    .topicos_item{
        flex-direction: column;
        display: flex;
    }

    .login_letra {
        display: flex;
        padding-top: 3vw;
    }
    
    #burguer {
        color: black;
        cursor: pointer;
        display: flex;
    }
    
    .cab_mobile_flex{
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
    }

    .mobile-menu div {
        display: flex;
        width: 32px;
        height: 2px;
        background: black;
        margin: 8px
    }
    .cabecalho {
        width: 100%;
    }   

}